.html-logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.css-logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.js-logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.php-logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.java-logo{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.sql-logo{
    display: inline-block;
    width: 100px;
    height: 100px;;
    background-size: contain;
    background-repeat: no-repeat;
}
.white-icon {
    filter: brightness(0) invert(1); /* turns black to white */
}


